{% extends "bootstrap/base.html" %}
{% block title %}Alignment & Specs Explorer{% endblock %}

{% block navbar %}
<div class="navbar navbar-fixed-top">
  <!-- ... -->
</div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Alignment & Specs Explorer</h1>
                <p>This web application allows you to explore alignments and
                  specifications represented according to the Singleton*** model
                  developed by Al Idrissou.
                </p>
                  <!--A paper about this work has been submitted to [Venue]:
                  <i>"[Title]"</i>,
                  [Authors].</p> -->
            </div>
        </div>
        <div class="row">
            <div class='col-md-12'>
                {% include 'graphs.html' %}
            </div>

        </div>
        <div class="row">
            <div class="col-md-12">
                <hr/>
            </div>
        </div>
        <!-- INVESTIGATION MODE -->
        <div class='row' id='divInvestigation' style='display:none'>
          <div class="col-md-20" id="investigation_correspondence_col" style='display:none'>
            <!-- to be loaded by the server -->
          </div>
          <div class="col-md-20" id="investigation_view_col" style='display:none'>
          {% include 'views.html' %}
          </div>
        </div>
        <!-- CREATION MODE -->
        <div class='row' id='divCreation' style='display:none'>
          <div class="col-md-20" id="creation_linkset_col" style='display:none'>
            {% include 'linksetsCreation.html' %}
          </div>
          <div class="col-md-20" id="creation_linkset_refine_col" style='display:none'>

          </div>
          <div class="col-md-20" id="creation_lens_col" style='display:none'>
            {% include 'lensesCreation.html' %}
          </div>
          <div class="col-md-20" id="creation_view_col" style='display:none'>
            {% include 'viewsCreation.html' %}
          </div>
          <div class="col-md-20" id="creation_idea_col" style='display:none'>
            {% include 'ideaCreation.html' %}
          </div>
        </div>
        <div class='row'>
        </div>
{% endblock %}

{% block scripts %}
{{super()}}
<script src="{{url_for('.static', filename='alignments.js')}}"></script>
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('.static', filename='bootstrap.min.css')}}">
{% endblock %}

{% block bootstrap_js_bottom %}

{% endblock %}
