{% extends "bootstrap/base.html" %}
{% block title %}Lenticular Lenses Explorer{% endblock %}

{% block navbar %}
<div class="navbar navbar-fixed-top">
  <!-- ... -->
</div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Lenticular Lenses Explorer</h1>
                <p>This web application allows you to explore alignments and
                  specifications represented according to Lenticular Lenses model
                  developed by Al Idrissou.
                </p>
                  <!--A paper about this work has been submitted to [Venue]:
                  <i>"[Title]"</i>,
                  [Authors].</p> -->
            </div>
        </div>
        <div class="row">
            <div class='col-md-12'>
                {% include 'graphs.html' %}
            </div>

        </div>
        <div class="row">
            <div class="col-md-12">
                <hr/>
            </div>
        </div>
        <!-- INVESTIGATION MODE -->
        <div class='row' id='divInvestigation' style='display:none'>
          <div class="col-md-20" id="investigation_correspondence_col" style='display:none'>
            <!-- to be loaded by the server -->
          </div>
          <div class="col-md-20" id="investigation_view_col" style='display:none'>
          </div>
        </div>
        <!-- CREATION MODE -->
        <div class='row' id='divCreation' style='display:none'>
          <div class="col-md-20" id="creation_idea_col" style='display:none'>
            {% include 'ideaCreation.html' %}
          </div>
          <div class="col-md-20" id="creation_cluster_col" style='display:none'
            mode="cluster" targetButton="button_rq_creation_cluster_col"
            targetText="creation_cluster_selected_RQ">
            {% include 'clustersCreation.html' %}
          </div>
          <div class="col-md-20" id="creation_linkset_col" style='display:none'
            mode="linkset" targetButton="button_creation_linkset_RQ_col"
            targetText="creation_linkset_selected_RQ">
            {% include 'linksetsCreation.html' %}
          </div>
          <div class="col-md-20" id="creation_linkset_cluster_col" style='display:none'
            mode="linksetCluster" targetButton="button_creation_linkset_cluster_RQ_col"
            targetText="creation_linkset_cluster_selected_RQ">
            {% include 'linksetsClusterCreation.html' %}
          </div>
          <div class="col-md-20" id="creation_lens_col" style='display:none'
            mode="lens" targetButton="button_rq_creation_lens_col"
            targetText="creation_lens_selected_RQ">
            {% include 'lensesCreation.html' %}
          </div>
          <div class="col-md-20" id="creation_view_col" style='display:none'
            mode="view" targetButton="button_rq_creation_view_col"
            targetText="creation_view_selected_RQ">
            {% include 'viewsCreation.html' %}
          </div>
          <div class="col-md-20" id="inspection_dataset_col" style='display:none'
            mode="dataset" targetButton="button_dataset_inspection_RQ_col"
            targetText="dataset_view_selected_RQ">
            {% include 'datasetInspection.html' %}
          </div>
          <div class="col-md-20" id="creation_dataset_col" style='display:none'
            mode="import" targetButton="button_creation_dataset_RQ_col"
            targetText="creation_dataset_selected_RQ">
            {% include 'datasetCreation.html' %}
          </div>
        </div>

        <!-- ADMIN MODE -->
        <div class='row' id='divAdmin' style='display:none'>
          <div class="col-md-20" id="deletion_dataset_col" style='display:none' >
            {% include 'ideaDeletion.html' %}
          </div>
          <div class="col-md-20" id="triplestore_admin_col" style='display:none' >
            {% include 'triplestoreAdmin.html' %}
          </div>
        </div>

        <div class='row'>
        </div>
    </div>
{% endblock %}

{% block scripts %}
{{super()}}
<script src="{{url_for('.static', filename='alignments.js')}}"></script>
<script src="{{url_for('.static', filename='inspection.js')}}"></script>
<script src="{{url_for('.static', filename='creation.js')}}"></script>
<!--<script src="{{url_for('.static', filename='d3.min.js')}}"></script>-->
<script src="{{url_for('.static', filename='bootstrap-toggle.min.js')}}"></script>
<script src="/static/upload/js/jquery.filedrop.js"></script>
<script src="/static/upload/js/upload.js"></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>
<script type="text/javascript" src="https://d3js.org/d3.v4.min.js"></script>


<!--<script class="include" type="text/javascript" src="/static/plot/jquery.min.js"></script>-->

{% endblock %}

{% block styles %}
{{super()}}
<link href="/static/upload/css/styles.css" rel="stylesheet" media="screen">
<link rel="stylesheet" href="{{url_for('.static', filename='bootstrap.min.css')}}">
<link rel="stylesheet" href="{{url_for('.static', filename='bootstrap-toggle.min.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='plot.css')}}">

<style>
.danger {
    background-color: #ffdddd;
    border-right: 6px solid #f44336;
}

.success {
    background-color: #ddffdd;
    border-right: 6px solid #4CAF50;
}

.info {
    background-color: #e7f3fe;
    border-right: 6px solid #2196F3;
}

.warning {
    background-color: #ffffcc;
    border-right: 6px solid #ffeb3b;
}

.btn-round{
border-radius: 17px;
}
</style>
{% endblock %}

{% block bootstrap_js_bottom %}

{% endblock %}
