{% extends "bootstrap/base.html" %}
{% block title %}Alignment & Specs Explorer{% endblock %}

{% block navbar %}
<div class="navbar navbar-fixed-top">
  <!-- ... -->
</div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Alignment & Specs Explorer</h1>
                <p>This web application allows you to explore alignments and
                  specifications represented according to the Singleton*** model
                  developed by Al Idrissou.
                </p>
                  <!--A paper about this work has been submitted to [Venue]:
                  <i>"[Title]"</i>,
                  [Authors].</p> -->
            </div>
        </div>
        <div class="row">
            <div class='col-md-12'>
                {% include 'graphs.html' %}
            </div>

        </div>
        <div class="row">
            <div class="col-md-12">
                <hr/>
            </div>
        </div>
        <div class='row' id='divInvestigation'>
          {% include 'correspondences.html' %}
          {% include 'views.html' %}
        </div>
        <div class='row' id='divCreation'>
          <div class="col-md-20" id="creation_col">
          </div>
        </div>
        <div class='row'>
        </div>
{% endblock %}

{% block scripts %}
{{super()}}
<script src="{{url_for('.static', filename='alignments.js')}}"></script>
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('.static', filename='bootstrap.min.css')}}">
{% endblock %}

{% block bootstrap_js_bottom %}

{% endblock %}
