<!-- <a href="#" class="list-group-item" >
<span class="list-group-item-heading" > -->
<div class="list-group" style='scroll: both; overflow: auto; height: 15em;'>
        {% for e in dataDetails|sort(attribute='pred') %}
            <li class="list-group-item" >
                <span class="list-group-item-heading">{{ e.pred_stripped.value }}: </span>
                <span class="list-group-item-heading" style="color:blue">
                  <strong>{{ e.obj.value }}</strong>
                </span>
            </li>
        {% endfor %}
</div>
<!-- </span></a> -->
