<div class="list-group" target="" style='scroll: both; overflow: auto; height: 14em; width: 100%;'>
        {% for e in dataDetails|sort(attribute='pred_stripped') %}
            <li class="list-group-item" id='DT{{e.pred.value }}' uri='<{{e.pred.value}}>'
                onclick='{{ function }}'
                label='{{ e.pred_stripped.value }}'
                value = '{{ e.obj.value }}'
                obj_type="{{ e.obj.type }}"
                {% if (e.optional) %}
                    optional = '{{ e.optional.value }}'
                {% else %}
                    optional = ''
                {% endif %}>
                <span class="list-group-item-heading">{{ e.pred_stripped.value }}</span>
                {% if (e.obj) %}
                :
                <span class="list-group-item-heading"
                      {% if (e.optional) %}
                          {% if (e.optional.value == "true") %}
                          style="color:red"
                          {% else %}
                          style="color:blue"
                          {% endif %}
                      {% else %}
                      style="color:blue"
                      {% endif %}
                    >
                  <strong> {{ e.obj.value }}</strong>
                </span>
                {% endif %}
            </li>
        {% endfor %}
</div>
