
<div class="panel panel-primary">
    <div class="panel-heading" id="detailsHeading"><h4><strong>Details</strong>
        <h5>(Click the gray-shaded headers bellow to see and select other properties)</h5></h4>
      {{ subjectTarget }} <span class="badge alert-info">{{ alignsSubjects }}</span> aligns with
      {{ objectTarget }} <span class="badge alert-info">{{ alignsObjects }}</span>
    </div>
    <div class="panel-body" style='scroll: both; overflow: auto; height: 20em;'>
        <div class="list-group" style='scroll: both; overflow: auto; height: 20em; width: 100%;'>
        <TABLE style='width: 100%;'>
          <TR>
             <TH style='width: 50%;'>
                 <span class="list-group-item-heading">
                     <span class="badge alert-default">{{ subjectTarget }}</span></span>
              </TH>
             <TH style='width: 50%;'>
                 <span class="list-group-item-heading">
                     <span class="badge alert-default">{{ objectTarget }}</span></span>
             </TH>
        {% for d in details %}
          <TR>
              <TD style='width: 50%;'>
               <li class="list-group-item" id="srcDatasetLI" uri='{{ sub_uri }}'
                   style="background-color:lightgray;width: 100%;">
               {{d.alignsSubjects_stripped.value}} =
                 <span class="list-group-item-heading" style="color:blue;width: 100%;">
                     <strong>{{ d.srcPredValue.value }}</strong>
                 </span></li>
              </TD >
             <TD style='width: 50%;'><li class="list-group-item" id="trgDatasetLI" uri='{{ obj_uri }}'
                 style="background-color:lightgray;width: 100%;">
                 {% if d.alignsObjects_stripped %}
                 {{d.alignsObjects_stripped.value}} =
                 <span class="list-group-item-heading" style="color:blue;width: 100%;">
                     <strong>{{ d.trgPredValue.value }}</strong></span>
                 {% endif%}
                 </li>
             </TD>
          <TR>
        {% endfor %}
             <TD style='width: 50%;' id="srcDetails" target="{{ subjectTarget }}" aligns="{{ alignsSubjects }}">
              </TD>
             <TD style='width: 50%;' id="trgDetails" target="{{ objectTarget }}" aligns="{{ alignsObjects }}">
              </TD>
        </TABLE>
        </div>
    </div>
</div>
