<div class="panel panel-warning">
    <div class="panel-heading"><h4>
      <strong><span>Evidence</span></strong>
      {% for vc in validation_counts %}
      <small><div align="right">
             {% if vc.nStrength.value != '0' %}
             <span class="badge alert-success">{{vc.nStrength.value}} Strength</span>
              {% endif%}
             <span class="badge alert-success">{{vc.nGood.value}} Accepted</span>
             <span class="badge alert-danger">{{vc.nBad.value}} Rejected</span></div></small>
      {% endfor %}
      </h4>
    </div>
    <div class="panel-body" >
        <div class="list-group" style='scroll: both; overflow: auto; height: 11.5em;'>
        {% for e in evidences|sort(attribute='pred') %}
            <a href="#" class="list-group-item" >
                <span class="list-group-item-heading">{{ e.pred_stripped.value }}: </span>
                <span class="list-group-item-heading" style="color:blue"><strong>{{ e.obj_stripped.value }}</strong></span>
            </a>
        {% endfor %}
        </div>
    </div>
</div>

<!-- Validation box -->
<div class="panel panel-default">
  <div class="panel-heading">
     <div class="row">
         <div class="col-md-4"><h4><strong>Validation</strong></h4></div>
          <!--<small>(When rejecting, select in 'Details' the pair of properties that justify the rejection)</small></h4></div>-->
      <h5><div class="col-md-5 text-right" style="color:red" id="evidence_message_col"> </div></h5>
      <div class="col-md-3">
          <button type="button" id="ValidationSave_btn"
                class="btn btn-primary"
                onclick="validationSaveOnClick();"
                >Save Validation</button>
      </div>
     </div>
  </div>

  <div class="panel-body">
     <div class="row">
         <div class="col-md-12">
            <div class="radio">
                <label><input id="ValidationYes_btn" type="radio" name="optradio"
                              onclick="validationRadioOnClick();">I <strong>agree</strong> with the alignment in <strong>general</strong> and with this correspondence in <strong>particular</strong>.</label>
            </div>
            <div class="radio">
                <label><input id="ValidationNo_btn" type="radio" name="optradio"
                              onclick="validationRadioOnClick()";>I <strong>agree</strong> with the alignment in <strong>general</strong> but <strong>disagree</strong> with this correspondence in <strong>particular</strong>. I have selected in "Details" the pair of properties that justifies my disagreement.</label>
            </div>
            <div class="radio disabled">
                <label><input id="ValidationRefine_btn" type="radio" name="optradio"
                              onclick="validationRadioOnClick();">I <strong>disagree</strong> with the alignment in <strong>general</strong> and I want to proceed with a refinement. I have selected in "Details" the pair of properties that justifies my disagreement.</label>
            </div>
         </div>
     </div>
     <div class="row">
         <div class="col-md-12">
          <textarea id="validation_textbox" name="name" rows="5" style="width: 100%;"> </textarea>
         </div>
     </div>
  </div>
</div>

