 <!--<div class="row">-->
    <!--<div class="col-md-12">-->
      <!--<ul class="nav nav-tabs">-->
        <!--<li class="active"><a href="#">Home</a></li>-->
        <!--<li class="dropdown">-->
          <!--<a class="dropdown-toggle" data-toggle="dropdown" href="#">Menu 1-->
          <!--<span class="caret"></span></a>-->
          <!--<ul class="dropdown-menu">-->
            <!--<li><a href="#">Submenu 1-1</a></li>-->
            <!--<li><a href="#">Submenu 1-2</a></li>-->
            <!--<li><a href="#">Submenu 1-3</a></li>-->
          <!--</ul>-->
        <!--</li>-->
        <!--<li><a href="#">Menu 2</a></li>-->
        <!--<li><a href="#">Menu 3</a></li>-->
      <!--</ul>-->
    <!--</div>-->
<!--</div>-->

<!--<nav class="navbar navbar-inverse">-->
  <!--<div class="container-fluid">-->
    <!--<div class="navbar-header">-->
      <!--<a class="navbar-brand" href="#">WebSiteName</a>-->
    <!--</div>-->
    <!--<ul class="nav navbar-nav">-->
      <!--<li class="active"><a href="#">Home</a></li>-->
      <!--<li><a href="#">Link</a></li>-->
      <!--<li><a href="#">Link</a></li>-->
    <!--</ul>-->
    <!--<button class="btn btn-danger navbar-btn">Button</button>-->
  <!--</div>-->
<!--</nav> - -->

<div class="row">
    <div class="col-md-12">

        <!-- This is the Mode dropdown button-->
        <span id="menu_list_col">

        <!-- <input type="checkbox" data-toggle="toggle"
               data-on="Enabled" data-off="Disabled"
               onstyle="primary" offstyle="default"> -->
        <!-- <input type="checkbox" id="toggle-two">
        <script>
          $(function() {
            $('#toggle-two').bootstrapToggle({
              on: 'Enabled',
              off: 'Disabled'
            });
          })
        </script> -->

        <button class="btn btn-default dropdown-toggle" type="button" id="modeDropdown"
            data-toggle='dropdown' mode='I'>Mode: Investigation<span class="caret"></span></button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="modeDropdown">
                <li role="presentation" onclick="modeInvestigation(this.innerText);">
                    <a role="menuitem" tabindex="-1">Mode: Investigation</a>
                </li>
                <li role="presentation" onclick="modeCreation(this.innerText);">
                    <a role="menuitem" tabindex="-1">Mode: Creation</a>
                </li>
            </ul>
        </span>

        <!-- This is the span that will include the buttons related to investigation mode -->
        <span id="investigation_buttons_col"></span>

        <!-- This is the span including the buttons related to creation mode -->
        <span id="creation_buttons_col">
            <button type="button" id="creationIdeaButton" class="btn btn-primary" aria-pressed="false">Idea</button>
            <button type="button" id="creationLinksetButton" class="btn btn-primary" aria-pressed="false">Linkset</button>
            <button type="button" id="creationLinksetRefButton" class="btn btn-primary" aria-pressed="false">Linkset Refinement</button>
            <button type="button" id="creationLensButton" class="btn btn-primary" aria-pressed="false">Lens</button>
            <button type="button" id="creationViewButton" class="btn btn-primary" aria-pressed="false">View</button>
        </span>

        <!--This is the refresh button -->
         <a class="btn btn-default" id="refreshButton" onclick="refresh();">Refresh</a>

    </div>
</div>
