<div class="panel panel-info">
<div class="panel-heading">
   <div class="row">
    <div class="col-md-9"><h3>Research Question</h3></div>
    <div class="col-md-3" id="creation_linkset_buttons_col">
      <h4>
      <button type="button" id="btn_inspect_idea"
              class="btn btn-primary"
              onclick='inspect_idea_button(this);'
              >Inspect</button>
      <button type="button" id="btn_create_idea"
              class="btn btn-primary"
              onclick='create_idea_button(this);'
              >Create</button>
      <button type="button" id="btn_overview_idea"
              class="btn btn-primary"
              onclick='overview_idea_button(this);'
              >Overview</button>
      </h4>
      <!-- <button type="button" id="btn_update_idea"
              class="btn btn-primary"
              onclick='update_idea_button(this);'
              >Update</button> -->
    </div>
   </div>
</div>

<div class="panel-body">
  <div class="row" id="idea_create_row" style='display:none'>
    <div class="col-md-12">
    <div class="panel panel-default">
    <!--<div class="panel-heading" >-->
      <!--<h4>Create Research Question</h4></div>-->
    <div class="panel-heading">
     <div class="row">
      <div class="col-md-10"><h4>Create Research Question</h4></div>
      <div class="col-md-2">
          <button type="button" id="createIdeaButton" class="btn btn-success"
              data-toggle="button" onclick = "createIdeaClick();">
          Create RQ</button>
          </div>
     </div>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="reserach_question">Type here your reserach question:</label>
            <textarea class="form-control" id="research_question" style="background-color:lightblue; height:5em" uri="">
Can we predict the LeidenRanking scores from characteristics of the university?</textarea>
          </div>
        </div>
        <!--<div class="col-md-2"><br/><br/>-->
          <!--<button type="button" id="createIdeaButton" class="btn btn-success"-->
              <!--data-toggle="button" onclick = "createIdeaClick();">-->
          <!--Create RQ</button>-->
        <!--</div>-->
     </div>
    <div class="row">
      <h5><div class="col-md-11 text-right" style="color:red" id="idea_creation_message_col"></div></h5>
    </div>
  </div>
  </div>
  </div>
  </div>

 <div class="row creation" id="inspect_idea_row" style='display:none'>
  <div class="col-md-12" >
    <div class="panel panel-default">
    <div class="panel-heading" >
      <h4>Inspect Research Question</h4></div>
    <div class="panel-body">
      <div class="row rq" target = 'creation_idea_selected_RQ'>
        <div class="col-md-2" id="button_idea_RQ_col">
            <!-- will be rendered via server -->
        </div>
        <div class="col-md-10">
            <div class="well well-sm" id="creation_idea_selected_RQ" uri="" label="">Select a Research Question</div>
        </div>
      </div>
    </div>
   </div>
  </div>
 </div>

 <div class="row creation" id="overview_idea_row" style='display:none'>
  <div class="col-md-12" >
     <div class="row creation">
      <div class="col-md-12" >
        <div class="panel panel-default">
        <div class="panel-heading" >
          <h4>Overview Research Question</h4></div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-12">
                <textarea readonly id='overview_idea_selected_RQ' class='sparql' style='width: 100%; background-color:lightblue; font-size: 12pt;' rows='3'>
                  </textarea>
            </div>
          </div>
        </div>
       </div>
      </div>
     </div>


     <div class="row creation">
      <div class="col-md-12" >
        <div class="panel panel-default">
        <div class="panel-heading" >
          <h4>Overview Dataset Mapping</h4></div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-12">
                <textarea readonly id='overview_idea_dataset_mapping' class='sparql' style='width: 100%; background-color:lightblue; font-size: 12pt;' rows='6'>
                  </textarea>
            </div>
          </div>
        </div>
       </div>
      </div>
     </div>

     <div class="row creation">
      <div class="col-md-12" >
        <div class="panel panel-default">
        <div class="panel-heading" >
          <h4>Overview Alignment Mapping and Linksets</h4></div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-12">
                <textarea readonly id='overview_idea_alignment_mapping' class='sparql' style='width: 100%; background-color:lightblue; font-size: 12pt;' rows='14'>
                  </textarea>
            </div>
          </div>
        </div>
       </div>
      </div>
     </div>

     <div class="row creation">
      <div class="col-md-12" >
        <div class="panel panel-default">
        <div class="panel-heading" >
          <h4>Overview Lenses</h4></div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-12">
                <textarea readonly id='overview_idea_lenses' class='sparql' style='width: 100%; background-color:lightblue; font-size: 12pt;' rows='5'>
                  </textarea>
            </div>
          </div>
        </div>
       </div>
      </div>
     </div>


     <div class="row creation">
      <div class="col-md-12" >
        <div class="panel panel-default">
        <div class="panel-heading" >
          <h4>Overview Views</h4></div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-12">
                <textarea readonly id='overview_idea_views' class='sparql' style='width: 100%; background-color:lightblue; font-size: 12pt;' rows='20'>
                  </textarea>
            </div>
          </div>
        </div>
       </div>
      </div>
     </div>

  </div>
 </div>

<div class="row" id = "creation_idea_update_col" style='display:none'>
  <div class="col-md-12">
    <div class="panel panel-default">
    <div class="panel-heading" id="inspect_heading_panel">
     <div class="row">
      <div class="col-md-10"><h4>Dataset Mapping</h4></div>
      <div class="col-md-2">
          <button type="button" id="updateIdeaButton" class="btn btn-success"
                    onclick = "updateIdeaClick()"
                    uri = "" data-toggle="button">Insert Mapping</button>
      </div>
     </div>
    </div>
    <div class="panel-body">
      <div class="row">
          <div class="col-md-5">
              <div> <h4><strong>To Select: Dataset | Entity Type | Count </strong> </h4> </div>
                    <div class="list-group" id="creation_idea_graphtype_list"
                         target = "creation_idea_selected_graphtype_list"
                         style='scroll: both; overflow: auto; height: 15em; width: 100%;'>
                   </div>
            </div>

          <div class="col-md-5" >
              <div class="row">
                <div> <h4><strong>Selected: Dataset | Entity Type | Count </strong> </h4> </div>
              </div>
              <div class="row">
                <div class="list-group" id="creation_idea_registered_graphtype_list"
                     target = "creation_idea_graphtype_list"
                     style='background-color:lightblue; scroll: both; overflow: auto; width: 100%;'>
               </div>
              </div>
              <div class="row">
                <div class="list-group" id="creation_idea_selected_graphtype_list"
                     target = "creation_idea_graphtype_list"
                     style='scroll: both; overflow: auto; height: 15em; width: 100%;'>
               </div>
              </div>
          </div>
          <!--<div class="col-md-2"><br/><br/>-->
            <!--<button type="button" id="updateIdeaButton" class="btn btn-success"-->
                    <!--onclick = "updateIdeaClick()"-->
                    <!--uri = "" data-toggle="button">Insert Mapping</button>-->
          <!--</div>-->
      </div>

      <div class="row">
        <h5><div class="col-md-12 text-right" style="color:red" id="idea_update_message_col"></div></h5>
      </div>
   </div>
  </div>
</div>
</div>

</div>
</div>
