<div class="panel panel-info">
<div class="panel-heading">
   <div class="row">
    <div class="col-md-10"><h3>Research Question</h3></div>
    <div class="col-md-2" id="creation_linkset_buttons_col">
      <h4><button type="button" id="btn_create_idea"
              class="btn btn-primary btn-success"
              onclick='create_idea_button(this);'
              >Create</button>
      <button type="button" id="btn_inspect_idea"
              class="btn btn-primary"
              onclick='inspect_idea_button(this);'
              >Inspect</button>
      <!-- <button type="button" id="btn_update_idea"
              class="btn btn-primary"
              onclick='update_idea_button(this);'
              >Update</button> -->
    </div>
   </div>
</div>

<div class="panel-body">
  <div class="row" id="idea_create_row">
    <div class="col-md-12">
    <div class="panel panel-default">
    <div class="panel-heading" >
      <h4>Create Research Question</h4></div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-10">
          <div class="form-group">
            <label for="reserach_question">Type here your reserach question:</label>
            <textarea class="form-control" id="research_question" style="height:5em" uri="">
Can we predict the LeidenRanking scores from characteristics of the university?</textarea>
          </div>
        </div>
        <div class="col-md-2"><br/><br/>
          <button type="button" id="createIdeaButton" class="btn btn-success"
              data-toggle="button" onclick = "createIdeaClick();">
          Create RQ</button>
        </div>
     </div>
    <div class="row">
      <h5><div class="col-md-11 text-right" style="color:red" id="idea_creation_message_col"></div></h5>
    </div>
  </div>
  </div>
  </div>
  </div>

 <div class="row creation" id="inspect_idea_row" style='display:none'>
  <div class="col-md-12" >
    <div class="panel panel-default">
    <div class="panel-heading" >
      <h4>Inspect Research Question</h4></div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-2" id="button_idea_RQ_col">
            <!-- will be rendered via server -->
        </div>
        <div class="col-md-10">
            <div class="well well-sm" id="creation_idea_selected_RQ" uri="">Select a Research Question</div>
        </div>
      </div>
    </div>
   </div>
  </div>
 </div>

<div class="row" id = "creation_idea_update_col" style='display:none'>
  <div class="col-md-12">
    <div class="panel panel-default">
    <div class="panel-heading" id="inspect_heading_panel">
      <h4>Dataset selection </h4></div>
    <div class="panel-body">
      <div class="row">
          <div class="col-md-5">
                    <div>  Dataset | Entity Type | Count </div>
                    <div class="list-group" id="creation_idea_graphtype_list"
                         target = "creation_idea_selected_graphtype_list"
                         style='scroll: both; overflow: auto; height: 15em; width: 100%;'>
                   </div>
            </div>

          <div class="col-md-5" >
              <div class="row">
                <div class="col-md-9">
                    <div>Dataset | Entity Type | Count </div>
                    <div class="list-group" id="creation_idea_selected_graphtype_list"
                         target = "creation_idea_graphtype_list"
                         style='scroll: both; overflow: auto; height: 15em; width: 100%;'>
                   </div>
                </div>
              </div>
          </div>
          <div class="col-md-2"><br/><br/>
            <button type="button" id="updateIdeaButton" class="btn btn-success"
                    onclick = "updateIdeaClick()"
                    uri = "" data-toggle="button">Update RQ</button>
          </div>
      </div>

      <div class="row">
        <h5><div class="col-md-12 text-right" style="color:red" id="idea_update_message_col"></div></h5>
      </div>
   </div>
  </div>
</div>
</div>

</div>
</div>
