<div class="panel panel-info">
<div class="panel-heading">
   <div class="row">
    <div class="col-md-8"><h3>Research Question</h3></div>
    <div class="col-md-4 text-right" id="creation_idea_buttons_col">
      <h4>
      <button type="button" id="btn_inspect_idea"
              class="btn btn-primary"
              onclick='inspect_idea_button(this);'
              >Inspect</button>
      <button type="button" id="btn_create_idea"
              class="btn btn-primary"
              onclick='create_idea_button(this);'
              >Create</button>
      <!--<button type="button" class="btn btn-primary" id="btn_edit_idea"-->
                <!--onclick='edit_idea_button(this);'-->
                <!--&gt;Edit</button>-->
      <button type="button" class="btn btn-primary" id="btn_export_idea"
                onclick='export_idea_button(this);'
                >Export</button>
      <button type="button" id="btn_overview_idea"
              class="btn btn-primary"
              onclick='selectMultiButton(this);
              overview_idea_button(this);'
              >Overview</button>
      </h4>
    </div>
   </div>
</div>

<div class="panel-body">
  <div class="row" id="idea_create_row" style='display:none'>
    <div class="col-md-12">
    <div class="panel panel-default">
    <div class="panel-heading">
     <div class="row">
      <div class="col-md-4">
          <h4 class="panel-title">
              <a id="link_collapse_idea_create"
                 data-toggle="collapse" href="#collapse_idea_create">
              <span class="badge alert-info"><strong>-</strong></span></a>
              Create Research Question
          </h4>
      </div>
      <!--<h5><div class="col-md-6 text-right" style="color:red" id="idea_creation_message_col"></div></h5>-->
      <div class="col-md-8 text-right">
           <table align="right">
               <tr align="right">
                   <td align="right"><div id="idea_creation_message_col"></div></td>
                   <td align="right"><button type="button" id="createIdeaButton" class="btn btn-success"
                          data-toggle="button" onclick = "createIdeaClick();">
                      Create RQ</button></td>
           </table>
          </div>
     </div>
    </div>
    <div id="collapse_idea_create" class="panel-collapse collapse in" target="link_collapse_idea_create">
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="research_question">Type here your reserach question:</label>
            <textarea class="form-control" id="research_question" style="height:5em" uri="" label="">
Can we predict the LeidenRanking scores from characteristics of the university?</textarea>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
  </div>
  </div>

 <div class="row creation" id="inspect_idea_row" style='display:none'>
  <div class="col-md-12" >
    <div class="panel panel-default">
    <div class="panel-heading" >
      <h4 class="panel-title">
          <a id="link_collapse_idea_inspect"
             data-toggle="collapse" href="#collapse_idea_inspect">
          <span class="badge alert-info"><strong>-</strong></span></a>
          Inspect Research Question
      </h4>
    </div>
    <div id="collapse_idea_inspect" class="panel-collapse collapse in" target="link_collapse_idea_inspect">
    <div class="panel-body">
      <div class="row rq" target = 'creation_idea_selected_RQ'>
        <div class="col-md-2" id="button_idea_RQ_col">
            <!-- will be rendered via server -->
        </div>
        <div class="col-md-10">
            <div class="well well-sm" id="creation_idea_selected_RQ" uri="" label="">Select a Research Question</div>
        </div>
      </div>
    </div>
    </div>
   </div>
  </div>
 </div>

 <div class="row creation" id="overview_idea_row" style='display:none'>
  <div class="col-md-12" >
     <div class="row creation">
      <div class="col-md-12" >
        <div class="panel panel-default">
        <div class="panel-heading" >
          <h4 class="panel-title">
              <a id="link_collapse_idea_overview"
                 data-toggle="collapse" href="#collapse_idea_overview">
              <span class="badge alert-info"><strong>+</strong></span></a>
              Overview Research Question
          </h4>
        </div>
        <div id="collapse_idea_overview" class="panel-collapse collapse" target="link_collapse_idea_overview">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-12">
                <textarea readonly id='overview_idea_selected_RQ' class='sparql' style='scroll: both;width: 100%; background-color:lightblue;white-space:pre-nowrap; font-size: 12pt;font-family: Consolas, Courier New, Courier, sans-serif;' rows='3'>
                  </textarea>
            </div>
          </div>
        </div>
        </div>
       </div>
      </div>
     </div>


     <div class="row creation">
      <div class="col-md-12" >
        <div class="panel panel-default">
        <div class="panel-heading" >
          <h4 class="panel-title">
              <a id="link_collapse_idea_overview_dataset_mapping"
                 data-toggle="collapse" href="#collapse_idea_overview_dataset_mapping">
              <span class="badge alert-info"><strong>+</strong></span></a>
              Overview Dataset Mapping
          </h4>
        </div>
        <div id="collapse_idea_overview_dataset_mapping" class="panel-collapse collapse" target="link_collapse_idea_overview_dataset_mapping">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-12">
                <textarea readonly wrap='off' id='overview_idea_dataset_mapping' class='sparql' style='scroll: both;overflow: auto;width: 100%; background-color:lightblue;white-space:pre-nowrap; font-size: 12pt;font-family: Consolas, Courier New, Courier, sans-serif;' rows='6'>
                  </textarea>
            </div>
          </div>
        </div>
        </div>
       </div>
      </div>
     </div>

     <div class="row creation">
      <div class="col-md-12" >
        <div class="panel panel-default">
        <div class="panel-heading" >
          <h4 class="panel-title">
              <a id="link_collapse_idea_alignment_mapping"
                 data-toggle="collapse" href="#collapse_idea_alignment_mapping">
              <span class="badge alert-info"><strong>+</strong></span></a>
              Overview Alignment Mapping and Linksets
          </h4>
        </div>
        <div id="collapse_idea_alignment_mapping" class="panel-collapse collapse" target="link_collapse_idea_alignment_mapping">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-12">
                <textarea readonly wrap='off' id='overview_idea_alignment_mapping' class='sparql' style='scroll: both;overflow: auto;width: 100%; background-color:lightblue;white-space:pre-nowrap; font-size: 12pt;font-family: Consolas, Courier New, Courier, sans-serif;' rows='14'>
                  </textarea>
            </div>
          </div>
        </div>
        </div>
       </div>
      </div>
     </div>

     <div class="row creation">
      <div class="col-md-12" >
        <div class="panel panel-default">
        <div class="panel-heading" >
          <h4 class="panel-title">
              <a id="link_collapse_idea_lenses"
                 data-toggle="collapse" href="#collapse_idea_lenses">
              <span class="badge alert-info"><strong>+</strong></span></a>
              Overview Lenses
          </h4>
        </div>
        <div id="collapse_idea_lenses" class="panel-collapse collapse" target="link_collapse_idea_lenses">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-12">
                <textarea readonly wrap='off' id='overview_idea_lenses' class='sparql' style='scroll: both;overflow: auto;width: 100%; background-color:lightblue;white-space:pre-nowrap; font-size: 12pt;font-family: Consolas, Courier New, Courier, sans-serif;' rows='5'>
                  </textarea>
            </div>
          </div>
        </div>
        </div>
       </div>
      </div>
     </div>


     <div class="row creation">
      <div class="col-md-12" >
        <div class="panel panel-default">
        <div class="panel-heading" >
          <h4 class="panel-title">
              <a id="link_collapse_idea_views"
                 data-toggle="collapse" href="#collapse_idea_views">
              <span class="badge alert-info"><strong>+</strong></span></a>
              Overview Views
          </h4>
        </div>
        <div id="collapse_idea_views" class="panel-collapse collapse" target="link_collapse_idea_views">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-12">
                <textarea readonly wrap='off' id='overview_idea_views' class='sparql' style='scroll: both;overflow: auto;width: 100%; background-color:lightblue;white-space:pre-nowrap; font-size: 12pt;font-family: Consolas, Courier New, Courier, sans-serif;' rows='20'>
                  </textarea>
            </div>
          </div>
        </div>
        </div>
       </div>
      </div>
     </div>

  </div>
 </div>

<div class="row" id = "creation_idea_update_col" style='display:none'>
  <div class="col-md-12">
    <div class="panel panel-default">
    <div class="panel-heading" >
     <div class="row">
      <div class="col-md-6">
          <h4 class="panel-title">
              <a id="link_collapse_idea_dataset_mapping"
                 data-toggle="collapse" href="#collapse_idea_dataset_mapping">
              <span class="badge alert-info"><strong>-</strong></span></a>
              Dataset Mapping
          </h4>
      </div>
      <!--<h5><div class="col-md-4 text-right" style="color:red" id="idea_update_message_col"></div></h5>-->
      <div class="col-md-6 text-right">
           <table align="right">
               <tr align="right">
                   <td align="right"><div id="idea_update_message_col"></div></td>
                   <td align="right"><button type="button" id="updateIdeaButton" class="btn btn-success"
                        onclick = "updateIdeaClick()" uri =""
                        data-toggle="button">Insert Mapping</button></td>
           </table>
      </div>
     </div>
    </div>
    <div id="collapse_idea_dataset_mapping" class="panel-collapse collapse in" target="link_collapse_idea_dataset_mapping">
    <div class="panel-body">
      <div class="row">
          <div class="col-md-5">
              <div> <h4><strong>To Select: Dataset | Entity Type | Count </strong> </h4> </div>
                <div class="row"> &nbsp </div>
             <div class="row">
                 <div class="col-md-12">
                <span class="glyphicon glyphicon glyphicon-search"></span>
               <input type="text" onkeyup='filterListGroup(this,"creation_idea_graphtype_list","idea_dataset_counter")' placeholder="Search for names.." style='width: 87%'>
                  <span id="idea_dataset_counter" class="badge"></span>
               </div>
             </div>
             <div class="row"> &nbsp </div>
              <div class="list-group" id="creation_idea_graphtype_list"
                         target = "creation_idea_selected_graphtype_list"
                         style='scroll: both; overflow: auto; height: 25em; width: 100%;'>
              </div>
            </div>

          <div class="col-md-5" >
              <div class="row">
                <div> <h4><strong>Selected: Dataset | Entity Type | Count </strong> </h4> </div>
              </div>
                <div class="row"> &nbsp </div>
             <div class="row">
                 <div class="col-md-12">
                <span class="glyphicon glyphicon glyphicon-search"></span>
               <input type="text" onkeyup='filterListGroup(this,"creation_idea_registered_graphtype_list","idea_dataset_sel_counter")' placeholder="Search for names.." style='width: 87%'>
                  <span id="idea_dataset_sel_counter" class="badge"></span>
               </div>
             </div>
             <div class="row"> &nbsp </div>
              <div class="row">
                <div class="list-group" id="creation_idea_registered_graphtype_list"
                     target = "creation_idea_graphtype_list"
                     style='background-color:lightblue; scroll: both; overflow: auto; width: 100%;'>
               </div>
              </div>
              <div class="row">
                <div class="list-group" id="creation_idea_selected_graphtype_list"
                     target = "creation_idea_graphtype_list"
                     style='scroll: both; overflow: auto; height: 15em; width: 100%;'>
               </div>
              </div>
          </div>
      </div>
    </div>
    </div>
  </div>
</div>
</div>

</div>
</div>
