<div class="panel panel-info">
<div class="panel-heading">
 <div class="row">
  <div class="col-md-8"><h3>Lenses</h3></div>
  <div class="col-md-4" id="creation_lens_buttons_col">
    <h4><button type="button" id="btn_inspect_lens"
            class="btn btn-primary btn btn-success disabled"
            onclick='newSelectButton(this);
            activateTargetDiv(targetId="inspect_lenses_row",cl="row creation");
            activateTargetDiv(targetId="inspect_lenses_heading_panel",cl="panel-heading");
            inspect_lens_activate(mode="inspect")'
            >Inspect</button>
    <button type="button" class="btn btn-primary disabled"
            onclick='newSelectButton(this);
            create_lens_activate();
            activateTargetDiv(targetId="creation_lens_row",cl="row creation");
            activateTargetDiv(targetId="create_lens_heading",cl="panel-heading")'
            >Create</button>
    <button type="button" class="btn btn-primary disabled"
            onclick='newSelectButton(this);
            activateTargetDiv(targetId="inspect_lenses_row",cl="row creation");
            activateTargetDiv(targetId="edit_lens_heading",cl="panel-heading");
            inspect_lens_activate(mode="edit")'
            >Edit</button>
    <button type="button" class="btn btn-primary disabled"
            onclick='newSelectButton(this);
            activateTargetDiv(targetId="inspect_lenses_row",cl="row creation");
            activateTargetDiv(targetId="import_lenses_heading_panel",cl="panel-heading");
            inspect_lens_activate(mode="import")'
            >Import</button></h4>
  </div>
 </div>
</div>

<div class="panel-body">
  <div class="row">
    <div class="col-md-12" id="creation_lens_select_RQ_col">
      <div class="row rq" target = 'creation_lens_selected_RQ'>
        <div class="col-md-2" id="button_rq_creation_lens_col">
            <!-- will be rendered via server -->
        </div>
        <div class="col-md-10">
            <div class="well well-sm" id="creation_lens_selected_RQ" uri="">Select a Research Question</div>
        </div>
     </div>
    </div>
  </div>

 <div class="row creation" id="inspect_lenses_row" style='display:none'>
  <div class="col-md-12">
    <div class="panel panel-default">
    <div class="panel-heading" id="inspect_lenses_heading_panel">
      <h4>Inspect Lenses <small>(select to see the details)</small></h4></div>
    <div class="panel-heading" id="import_lenses_heading_panel" style='display:none'>
     <div class="row">
      <div class="col-md-4"><h4>Import Related Lenses
          <small>(select to see the details)</small></h4></div>
      <h5><div class="col-md-6 text-right" style="color:red" id="lens_import_message_col"></div></h5>
      <div class="col-md-2">
          <button type="button" id="btn_import_lens"
                class="btn btn-primary btn btn-success"
                onclick='importLensClick()'
                >Import</button>
          </div>
     </div>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-4">
          <div class="row">
            <div class="col-md-12" id="inspect_lens_lens_selection_col"></div>
            <!-- will be rendered via server -->
          </div>
        </div>
        <div class="col-md-8">
          <div class="row">
            <div class="col" id="inspect_lens_lens_details_col" style='width: 100%;'></div>
            <!-- will be rendered via server -->
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
 </div>

 <div class="row creation" id="creation_lens_row" style='display:none'>
  <div class="col-md-12">
   <div class="panel panel-default">
   <div class="panel-heading" id="create_lens_heading" >
     <div class="row">
       <div class="col-md-4"><h4>Create Lens<br/>
       <small>(Select operator and two or more linksets/lenses)</small></h4></div>
       <h5><div class="col-md-6 text-right" style="color:red" id="lens_creation_message_col"></div></h5>
       <div class="col-md-2">
           <button type="button" id="createLensButton"
                   class="btn btn-success btn btn-primary"
                   onclick="createLensClick()">Create Lens</button>
       </div>
     </div>
   </div>

   <div class="panel-body">
    <div class="row">
      <div class="col-md-4" style='border-right: 1px solid grey;' id="creation_operation_col">
          <div class="row">
            <div class="col-md-10">
              <h3>Operator</h3></div>
            </div>
          <div class="row">
            <div class="col-md-3" id="creation_operator_col">
               <span class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" id="operatorDropdown"
                        data-toggle='dropdown'>Operator<span class="caret"></span></button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="operatorDropdown">
                    <li role="presentation">
                        <a href="#" role="menuitem" tabindex="-1" label='union'
                        onclick = 'operatorClick(this)'>Union</a>
                        <a href="#" role="menuitem" tabindex="-1" label='intersection'
                        onclick = 'operatorClick(this)'>Intersection</a>
                        <a href="#" role="menuitem" tabindex="-1" label='transitive'
                        onclick = 'operatorClick(this)'>Transitive</a>
                        <a href="#" role="menuitem" tabindex="-1" label='difference'
                        onclick = 'operatorClick(this)'>Difference</a>
                    </li>
                </ul>
               </span>
            </div>
            <div class="col-md-9">
              <div class="well well-sm" id="selected_operator" label="">Select a Operator</div>
            </div>
         </div>
         <div class="row">
            <div class="col-md-12">
           <div class="well well-sm" id="selected_operator_desc" label="">Operator Description</div>
            </div>
        </div>
      </div>

      <div class="col-md-4" style='border-right: 1px solid grey;' id="lens_creation_linkset_col" >
          <div class="row">
            <div class="col-md-10">
              <h3>Linksets</h3></div>
            </div>
          <div class="row">
            <div class="col-md-10">Select the graphs in the list:</div>
          </div>
          <div class="row">
            <div class="col-md-10" id="creation_lens_linkset_selection_col"></div>
          </div>
      </div>

      <div class="col-md-4" id="lens_creation_lens_col" >
          <div class="row">
            <div class="col-md-10">
              <h3>Lenses</h3></div>
            </div>
          <div class="row">
            <div class="col-md-10">Select the graphs in the list:</div>
          </div>
          <div class="row">
            <div class="col-md-10" id="creation_lens_lens_selection_col"></div>
          </div>
      </div>

    </div>
   </div>
  </div>
  </div>
 </div>

 <div class="row creation" id="creation_lens_correspondence_row" style='display:none'>
  <div class="col-md-12" >
    <div class="panel panel-default">
    <div class="panel-heading" id="linkset_investigation_heading_panel">
      <h4>Investigate Lens Conrrespondences</h4></div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-20" id="creation_lens_correspondence_col" style='display:none'></div>
      </div>
    </div>
   </div>
  </div>
 </div>

</div>
</div>
