
<div class="panel panel-primary">
    <div class="panel-heading" id="detailsHeading">
      Entities of <strong>TYPE</strong> <span class="badge alert-info"><strong>{{ s_datatype|upper }}</strong></strong></span>
      in <strong>DATASET</strong> <span class="badge alert-info"><strong>{{ subTarget|upper }}</strong></span> align with
      entities of <strong>TYPE</strong> <span class="badge alert-info"><strong>{{ o_datatype|upper }}</strong></span>
      in <strong>DATASET</strong> <span class="badge alert-info"><strong>{{ objTarget|upper }}</strong></span>
      unsing <strong>MECHANISM</strong> <span class="badge alert-info"><strong>{{ mechanism|upper }}</strong></span>.
    </div>
    <div class="panel-body" style='height: 12em;'>
        <TABLE style='width: 100%;'>
          <TR>
             <TH style='width: 50%;'>
                 <span class="list-group-item-heading">
                     <span class="badge alert-default"><strong>{{ subTarget|upper }}:</strong></span> <strong>{{s_property|upper}}</strong> </span>
              </TH>
             <TH style='width: 50%;'>
                 <span class="list-group-item-heading">
                     <span class="badge alert-default"><strong>{{ objTarget|upper }}:</strong></span> <strong>{{o_property|upper}}</strong></span>
             </TH>
        </TABLE>

        <div class="list-group" style='scroll: both; overflow: auto; height: 8em; width: 100%;'>
          {% for d in details %}
          <TABLE style='width: 100%;'>
          <TR>
              <TD style='width: 50%;'>
               <li class="list-group-item" id="srcDataset" >
                 <span class="list-group-item-heading">{{ d.s_PredValue.value }}</span>
               </li>
              </TD>
             <TD style='width: 50%;'>
               <li class="list-group-item" id="srcDataset" >
                 <span class="list-group-item-heading">{{ d.o_PredValue.value }}</span>
               </li>
             </TD>
              </li>
          <TR>
          </TABLE>
          {% endfor %}
        </div>
    </div>
</div>
