<div class="panel panel-info">
<div class="panel-heading"><h3>Linkset</h3></div>
<div class="panel-body">
<div class="row">
  <div class="col-md-12" id="creation_linkset_select_RQ_col">
    <!-- <div class="row">
      <div class="col-md-12">
        <h3>Research Question</h3></div>
      </div> -->
    <div class="row">
      <div class="col-md-2" id="button_creation_linkset_col">
          <!-- will be rendered via server -->
      </div>
      <div class="col-md-8">
          <div class="well well-sm" id="creation_linkset_selected_RQ" uri="">Select a Research Question</div>
      </div>
      <div class="col-md-2">
          <button type="button" id="createLinksetButton" class="btn btn-success btn btn-primary disabled" data-toggle="button"  >
            Create Linkset</button>
      </div>
   </div>
    <div class="row">
      <h5><div class="col-md-11 text-right" style="color:red" id="linkset_creation_message_col"></div></h5>
    </div>
  </div>
</div>

<div class="row" id = "creation_linkset_row" style='display:none'>
  <div class="col-md-4" style='border-right: 1px solid grey;' id="creation_source_col" >
    <div id="loading"> Loading... </div>
    <div class="row">
      <div class="col-md-10">
        <h3>Source</h3></div>
      </div>
    <div class="row">
      <div class="col-md-3" id="button-src-col">
          <!-- will be rendered via server -->
      </div>
      <div class="col-md-9">
          <div class="well well-sm" id="src_selected_graph" uri="">Select a Graph</div>
      </div>
   </div>
   <div class="row">
      <div class="col-md-3" id="button-src-entity-type-col">
        <!-- will be rendered via server -->
        <button class="btn btn-primary dropdown-toggle" type="button"
                data-toggle='dropdown'>Entity Type<span class="caret"></span></button>
      </div>
      <div class="col-md-9">
         <div class="well well-sm" id="src_selected_entity-type">Select an Entity Type</div>
      </div>
   </div>
   <div class="row" id = "src_selected_pred_row">
     <div class="col-md-12">
         <div class="well well-sm" id="src_selected_pred">Select a Property +
           <span style="color:blue"><strong> example value </strong>
           </span>
         </div>
     </div>
   </div>
   <div class="row" id = "src_list_pred_row">
     <div class="col-md-12" id="src_predicates_col"> </div>
   </div>
  </div>

  <div class="col-md-4" style='border-right: 1px solid grey;' id="creation_target_col">
      <div class="row">
        <div class="col-md-10">
          <h3>Target</h3></div>
        </div>
      <div class="row">
        <div class="col-md-3" id="button-trg-col">
          <!-- will be rendered via server -->
        </div>
        <div class="col-md-9">
           <div class="well well-sm" id="trg_selected_graph">Select a Graph</div>
        </div>
     </div>
      <div class="row">
        <div class="col-md-3" id="button-trg-entity-type-col">
          <!-- will be rendered via server -->
        <button class="btn btn-primary dropdown-toggle" type="button"
                data-toggle='dropdown'>Entity Type<span class="caret"></span></button>
        </div>
        <div class="col-md-9">
           <div class="well well-sm" id="trg_selected_entity-type">Select an Entity Type</div>
        </div>
     </div>
   <div class="row" id = "trg_selected_pred_row">
     <div class="col-md-12">
         <div class="well well-sm" id="trg_selected_pred">Select a Property +
           <span style="color:blue"><strong> example value </strong>
           </span>
         </div>
     </div>
   </div>
   <div class="row" id = "trg_list_pred_row">
     <div class="col-md-12" id="trg_predicates_col"> </div>
   </div>
  </div>

  <div class="col-md-4" id="creation_method_col">
      <div class="row">
        <div class="col-md-10">
          <h3>Method</h3></div>
        </div>
      <div class="row">
        <div class="col-md-3">
           <span class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" id="methodDropdown"
                    data-toggle='dropdown'>Method<span class="caret"></span></button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="methodDropdown">
                <li role="presentation">
                    <a href="#" role="menuitem" tabindex="-1" label="exactStrSim">
                        Exact Match</a>
                    <a href="#" role="menuitem" tabindex="-1" label="approxStrSim">
                        Approximate Match</a>
                    <a href="#" role="menuitem" tabindex="-1" label="geoSim">
                        Geo Match</a>
                    <a href="#" role="menuitem" tabindex="-1" label="identity">
                        Identity</a>
                </li>
            </ul>
           </span>
        </div>
        <div class="col-md-9">
           <div class="well well-sm" id="selected_meth" label="">Select a Method</div>
        </div>
     </div>
      <!-- <div class="row">
        <div class="col-md-10">
          <h3>Context Code</h3></div>
        </div>
     <div class="row">
        <div class="col-md-12">
            Enter a context code:
           <input type="text" id="selected_context_code" class="form-control" id="usr">
        </div>
     </div> -->
  </div>
</div>
</div>
</div>
