
<div class="panel panel-primary">
    <div class="panel-heading" id="detailsHeading">

        <span class="badge alert-info"><strong>{{ subTarget|upper }}</strong></span>
        <span class="badge alert-info"><strong>{{ s_datatype|upper }}</strong></span>
        <span class="badge alert-info"><strong>{{ s_property_list|upper }}</strong></span>

        aligns with

        <span class="badge alert-info"><strong>{{ objTarget|upper }}</strong></span>
        <span class="badge alert-info"><strong>{{ o_datatype|upper }}</strong></span>
        <span class="badge alert-info"><strong>{{ o_property_list|upper }}</strong></span>

        using

        <span class="badge alert-info"><strong>{{ mechanism_list|upper }}</strong></span>

        {% if (ratio != '0') %}
        with ratio  <span class="badge alert-info"><strong>{{ ratio }}</strong></span>
        {% endif %}
        {% if (delta != '') %}
        with delta  <span class="badge alert-info"><strong>{{ delta }}</strong></span>
        {% endif %}

        {% if (dist != '') %}
        with distance nearby <span class="badge alert-info"><strong>{{ dist }} {{ dist_unit }}</strong></span>
        {% endif %}

        producing

         <span class="badge alert-info"><strong>{{ triples }}</strong></span>

        matches.

    </div>
    <div class="panel-body" style='height: 14em;'>
        <TABLE style='width: 100%;'>
          <TR>
             <TH style='width: 50%;'>
                 <span class="list-group-item-heading">
                     <span class="badge alert-default"><strong>{{ subTarget|upper }}:</strong></span> <strong>{{s_property_crossCheck|upper}}</strong> </span>
              </TH>
             <TH style='width: 50%;'>
                 <span class="list-group-item-heading">
                     <span class="badge alert-default"><strong>{{ objTarget|upper }}:</strong></span> <strong>{{o_property_crossCheck|upper}}</strong></span>
             </TH>
        </TABLE>

        <div class="list-group" style='scroll: both; overflow: auto; height: 10em; width: 100%;'>
          <TABLE style='width: 100%;'>
          {% for d in details %}
          <TR>
              <TD style='width: 50%;'>
               <li class="list-group-item" id="srcDataset" style='width: 100%;' >
                 <span class="list-group-item-heading">{{ d.s_PredValue.value }}</span>
               </li>
              </TD>
             <TD style='width: 50%;'>
               <li class="list-group-item" id="trgDataset" style='width: 100%;' >
                 <span class="list-group-item-heading">{{ d.o_PredValue.value }}</span>
               </li>
             </TD>
          <TR>
          {% endfor %}
          </TABLE>
        </div>
    </div>
</div>
