 <span class="dropdown">
  <button class="btn btn-primary btn-round dropdown-toggle" type="button"
          data-toggle='dropdown'> {{btn_name}} <span class="caret"></span></button>
  <ul class="dropdown-menu" role="menu" id="{{btn_name}}">
     <span class="glyphicon glyphicon glyphicon-search"></span>
                 <input type="text" onkeyup='filterListGroup(this,"{{btn_name}}")' placeholder="Press Tab to enter your search terms.." style='width: 87%'>
                  <span class="badge counter"></span>
      {% for l in list|sort(attribute='uri_label') %}
      <li role="presentation"> 
          <a href="javascript:void();" role="menuitem" tabindex="-1" onclick="{{function}}"
          uri='{{l.uri.value }}'
            {% if (l.count) %}
             label='{{l.uri_label.value}} | {{ l.count.value }} '
             total = '{{ l.count.value }}'
            {% else %}
             label='{{l.uri_label.value}} '
            {% endif %} >
          {{ l.uri_label.value }}
          {% if (l.count) %}
             | {{ l.count.value }}
          {% endif %}
          </a>
      </li>
      {% endfor %}
  </ul>
 </span>
