<!-- <a href="#" class="list-group-item" >
<span class="list-group-item-heading" > -->
<div class="list-group" style='scroll: both; overflow: auto; height: 15em; width: 100%;'>
        {% for l in list|sort(attribute='uri_stripped') %}
            <a href="javascript:void();" class="list-group-item"
                id='LGI{{l.uri.value }}'
                uri='{{l.uri.value }}'
                {% if (l.label.value != "-") %}
                    label='{{l.label_label.value}}'
                {% else %}
                    label='{{ l.uri_stripped.value }}'
                {% endif %}
                >
                <span class="list-group-item-heading">
                {% if (l.mode.value == 'info') or (l.mode.value == 'warning') or
                      (l.mode.value == 'danger') or (l.mode.value == 'success')%}
                  <small><span class='badge alert-{{l.mode.value}}'>-</span></small>
                {% endif %}
                {% if (l.label.value != "-") %}
                    {{l.label.value}}
                {% else %}
                    {{l.uri_stripped.value}}
                {% endif %} </span>
            </a>
        {% endfor %}
</div>
<!-- </span></a> -->
