<div class="panel panel-info">
<div class="panel-heading">
 <div class="row">
  <div class="col-md-9"><h3>Views</h3></div>
  <div class="col-md-3" id="creation_views_buttons_col">
    <h4><button type="button" id="btn_inspect_view"
            class="btn btn-primary btn btn-success disabled"
            onclick='newSelectButton(this);
            activateTargetDiv(targetId="inspect_views_row",cl="row creation");
            inspect_views_activate(mode="inspect")'
            >Inspect</button>
    <button type="button" class="btn btn-primary disabled"
            onclick='newSelectButton(this);
            create_views_activate();
            activateTargetDiv(targetId="creation_view_row",cl="row creation");'
            >Create</button>
    <button type="button" class="btn btn-primary disabled"
            onclick='newSelectButton(this);
            activateTargetDiv(targetId="inspect_views_row",cl="row creation");
            activateTargetDiv(targetId="edit_views_heading",cl="panel-heading");
            inspect_views_activate(mode="edit")'
            >Edit</button></h4>
  </div>
 </div>

</div>

<div class="panel-body">

<div class="row">

  <div class="col-md-12" id="creation_view_select_RQ_col">
    <div class="row">
      <div class="col-md-2" id="button_rq_creation_view_col">
          <!-- will be rendered via server -->
      </div>
      <div class="col-md-10">
          <div class="well well-sm" id="creation_view_selected_RQ" uri="" label="">Select a Research Question</div>
      </div>
   </div>
  </div>
</div>

 <div class="row creation" id="inspect_views_row" style='display:none'>
  <div class="col-md-12">
    <div class="panel panel-default">
    <div class="panel-heading">
      <h4>Inspect View <small>(select to see the details)</small></h4></div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-4">
          <div class="row">
            <div class="col-md-12" id="inspect_views_selection_col"></div>
            <!-- will be rendered via server -->
          </div>
        </div>
        <div class="col-md-8">
          <div class="row">
            <div class="col" id="inspect_views_details_col" style='width: 100%;'>
            <!-- will be rendered via server -->
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
 </div>

<div class="row creation" id = "creation_view_row" style='display:none'>
 <div class="col-md-12" >
  <div class="panel panel-default">
  <div class="panel-heading"><h4>View-Lens <small> (more than one will be considered as intersection)</small></h4>
  </div>
  <div class="panel-body">
  <div class="row">

    <div class="col-md-6" >
        <div class="row">
          <div class="col-md-10"><h4>Linksets</h4></div>
        </div>
        <div class="row">
          <div class="col-md-10">Select from the list:
          </div>
        </div>
        <!-- <div id="loading4"> Loading... </div> -->
        <div class="row">
          <div class="col-md-10" id="creation_view_linkset_col">

          </div>
        </div>
    </div>

    <div class="col-md-6" >
        <div class="row">
          <div class="col-md-10"><h4>Lenses</h4></div>
        </div>
        <div class="row">
          <div class="col-md-10">Select from the list:
          </div>
        </div>
        <!--<div id="loading4"> Loading... </div>-->
        <div class="row">
          <div class="col-md-10" id="creation_view_lens_col">

          </div>
        </div>
    </div>

  </div>
  </div>
  </div>

  <div class="panel panel-default">
  <div class="panel-heading">
      <div class="row">
          <div class="col-md-4"><h4>View-Filter</h4></div>
          <h5><div class="col-md-6 text-right" style="color:red" id="view_creation_message_col"></div></h5>
          <div class="col-md-2">
            <button type="button" id="createViewButton" class="btn btn-success"
                    data-toggle="button" onclick = 'createViewClick(mode="check")' >
            Check View</button>
          </div>
      </div>
  </div>
  <div class="panel-body">
  <div class="row"> <!-- id = "creation_view_datasetdetails_row" style='display:none'> -->

    <div class="col-md-4" >
        <div class="row">
          <div class="col-md-12"><h4>Datasets</h4></div>
        </div>
        <div class="row">
          <div class="col-md-12">Select from the list:</div>
        </div>
        <div id="loading3" style='display:none'> Loading... </div>
        <div class="row">
          <div class="col-md-12" id="creation_view_dataset_col">

          </div>
        </div>
    </div>

    <div class="col-md-4" >
        <div class="row">
          <div class="col-md-12"><h4>Attributes</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12" id="creation_view_predicates_msg_col"></div>
        </div>
        <div class="row">
          <div class="col-md-12" id="creation_view_predicates_col">

          </div>
        </div>
    </div>

    <div class="col-md-4" >
        <div class="row">
          <div class="col-md-12"><h4>Selected Attributes</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="list-group" id="creation_view_selected_predicates_group"
                    style='scroll: both; overflow: auto; height: 15em; width: 100%;'>
            </div>
          </div>
        </div>
    </div>
  </div>
  </div>
  </div>
 </div>
</div>

<div class="row creation" id = "creation_view_results_row" style='display:none'>
 <div class="col-md-12">
  <div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
          <div class="col-md-9"><h4>View-Result</h4></div>
          <div class="col-md-3">
            <h4><button type="button"
                    class="btn btn-primary"
                    onclick='showQuery(this);'
                    >Show Query</button>
            <button type="button" class="btn btn-primary"
                    onclick = 'createViewClick(mode="save")'
                    >Save View</button></h4>
          </div>
         </div>
    </div>
    <div class="panel-body">
      <div class="row" id="views-row">
      <div class="col-md-12">
          <div class="panel panel-default" id="view_query_row" style='display:none'>
              <div class="panel-heading">
                <div class="row">
                    <div class="col-md-10"><h4>SPARQL Query</h4></div>
                    <div class="col-md-2">
                        <h5><button type="button" class="btn btn-primary"
                            onclick='runViewClick();'
                        >Run Query</button></h5>
                    </div>
                </div>
              </div>
              <div class="panel-body">
                <div class="row" >
                  <div class="col-md-12">
                  <textarea id='queryView' class='sparql' style='width: 100%' rows='20'>
                  </textarea>
                  </div>
                </div>
              </div>
          </div>

          <div class="panel panel-default">
              <div class="panel-heading">
                <div class="row">
                    <div class="col-md-10"><h4>Result Table</h4></div>
                    <div class="col-md-2">
                        <h5><button type="button" class="btn btn-primary"
                            onclick='downloadTableClick();'
                        >Download Table</button></h5>
                    </div>
                </div>
              </div>
              <div class="panel-body">
                <div class="row" id="views-results-row">
                <div class="col-md-12">
                  <h4></h4>
                  <div id="views-results" style='height: 30em; width:100%, scroll: both; overflow: auto;'> </div>
                </div>
                </div>
              </div>
          </div>

      </div>
      </div>
    </div>
  </div>

</div>
</div>

</div>
</div>


