<TABLE class="table table-striped" id="resultTable" style='height: 20em; scroll: both; overflow: auto;' >
 <thead >
 <TR>
 {% for col in header %}
    <TH>{{ col }}</TH>
 {% endfor %}
 </thead>
 <tbody>
 {% for row in results %}
 <TR {% if (clustersList) %}
        clusterId = "{{ clustersList[loop.index0] }}"
    {% endif %} >
    {% for col in row %}
    <TD
        {% if (col == "yes")  %}
            style="color:blue; font-weight:bold;"
        {% elif (col == "cyc")  %}
            style="color:purple; font-weight:bold;"
        {% endif %}
        {% if (col == "no") %}
            style="color:red; font-weight:bold;"
        {% endif %}
    > {{ col }} </TD>
    {% endfor %}
 {% endfor %}
 </tbody>
 <thead>
 <TR>
 {% for col in header %}
    <TH>{{ col }}</TH>
 {% endfor %}
 </thead>
</TABLE>
