<div class="panel panel-info">
<div class="panel-heading"><h3>View</h3></div>
<div class="panel-body">
  <div class="row" id="views-row" style="display:none;">
  <div class="col-md-12">
      <div class="row">
      <div class="col-md-12">
      <p>This is the query to be fired.</p>
      <textarea id='query14' class='sparql' style='width: 100%' rows='10'>
  SELECT *
  {
    GRAPH <http://risis.eu/dataset/leidenRanking>
      {   ?resource <http://risis.eu/leidenRanking/ontology/predicate/University> ?University .
          ?resource <http://risis.eu/leidenRanking/ontology/predicate/Country> ?Country .
          ?resource <http://risis.eu/leidenRanking/ontology/predicate/Field> ?Field .
      }
  }
  LIMIT 10
      </textarea>
      <div><a id="link14" class='btn btn-primary'>Run</a></div>
    </div>
    </div>
    <div class="row" id="views-results-row">
    <div class="col-md-12">
      <h3>Output</h3>
      <div id="views-results" style='height: 30em; width:100%, scroll: both; overflow: auto;'>
              This is where the server response will appear.</div>
    </div>
    </div>

  </div>
  </div>
</div>
</div>
