<TABLE class="table table-striped" id="resultTable" style='height: 20em; scroll: both; overflow: auto;' >
 <thead >
 <TR>
 {% for col in header %}
    <TH>{{ col }}</TH>
 {% endfor %}
 </thead>
 <tbody>
 {% for row in results|sort %}
 <TR {% if (clustersList) %}
         cluster="{{ clustersList[loop.index0] }}"
    {% endif %} >
    {% for col in row %}
    <TD >{{ col }}</TD>
    {% endfor %}
 {% endfor %}
 </tbody>
 <thead>
 <TR>
 {% for col in header %}
    <TH>{{ col }}</TH>
 {% endfor %}
 </thead>
</TABLE>
